<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dci.mapper.UserMapper">

    <insert id="add" parameterType="User">
        INSERT  INTO  users(id,username,password,cs,xb)VALUE (#{id},#{username},#{password},#{cs},#{xb})
    </insert>
<select id="query" parameterType="User" resultType="User">
    SELECT  * FROM users a where a.username=#{username} AND a.password=#{password}
</select>

    <!--<insert id="add" parameterType="Session">-->
    <!--INSERT  INTO  Session()VALUES ()-->

    <!--</insert>-->

    <!--<insert id="addDept" parameterType="Dept" >-->
    <!--INSERT INTO dept (dname,db_source)VALUES (#{dname},DATABASE())-->
    <!--</insert>-->

    <!--<select id="queryById" resultType="Dept" parameterType="long"  >-->
    <!--SELECT  *  FROM dept WHERE depton=#{depton}-->
    <!--</select>-->

    <!--<select id="queryAll" resultType="Dept">-->
    <!--SELECT  *  FROM dept-->
    <!--</select>-->




</mapper>
